stages:
  - test
  - build
  - deploy

variables:
  GCP_PROJECT_ID: "geotourisme-485922"  # À remplacer par votre ID de projet GCP
  GCP_REGION: "europe-west1"
  GAR_REPOSITORY: "smart-travel-planner"
  SERVICE_NAME: "streamlit-app"

test:
  stage: test
  image: python:3.9
  before_script:
    - pip install -r app/requirements.txt
  script:
    - python -m pytest app/tests/ --cov=app  # Si vous avez des tests

build:
  stage: build
  image: google/cloud-sdk:alpine
  script:
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud config set project $GCP_PROJECT_ID
    - gcloud builds submit --config=app/cloudbuild.yaml app/

deploy:
  stage: deploy
  image: google/cloud-sdk:alpine
  script:
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud config set project $GCP_PROJECT_ID
    - gcloud run deploy $SERVICE_NAME \
        --image=${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/${GAR_REPOSITORY}/streamlit:latest \
        --platform=managed \
        --region=$GCP_REGION \
        --allow-unauthenticated \
        --set-env-vars="GOOGLE_PLACES_KEY=$GOOGLE_PLACES_KEY,OPENWEATHERMAP_KEY=$OPENWEATHERMAP_KEY,MISTRAL_API_KEY=$MISTRAL_API_KEY" \
        --cpu=2 \
        --memory=4Gi
  only:
    - main  # Déploiement automatique uniquement sur la branche main
